html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

* {
  font-family: century;
}

.Presentacion {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Presentacion .Nombre {
  position: absolute;
  top: 2%;
  width: 50%;
  text-align: center;
}

.Presentacion .Nombre h1 {
  font-family: century gothic,texgyreadventor,stheiti,sans-serif;
  color: #3F3D56;
  margin: 0%;
  letter-spacing: 5px;
  font-weight: normal;
}

.Presentacion .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
}

.Presentacion .imagen img {
  width: 100%;
}

.Presentacion .sobremi {
  background-color: rgba(17, 34, 17, 0.377);
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  position: absolute;
  border-color: #6133E4;
  border-style: solid;
  color: white;
}

.Presentacion .sobremi h2 {
  color: #3F3D56;
  font-weight: normal;
}

.Presentacion .sobremi p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*

********** ********** NAVEGADOR *********** ************
********** ********** NAVEGADOR *********** ************
********** ********** NAVEGADOR *********** ************

*/
.navegador {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navegador ul {
  background-color: #cccccc91;
  width: 80%;
  list-style: none;
  margin: 0%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  border-color: #6133E4;
  border-style: solid;
  border-width: 1px;
}

.navegador ul li {
  padding: 10px;
  border-radius: 5px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  letter-spacing: 1px;
}

.navegador ul li a {
  text-decoration: none;
  color: #3F3D56;
  font-weight: normal;
}

.navegador ul li:hover {
  background-color: #A2D79A;
}

.Aptitudes {
  background-color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: #3F3D56;
}

.Aptitudes h1 {
  font-weight: normal;
}

.Aptitudes .skills {
  width: 85%;
  padding: 2%;
}

.Aptitudes .skills .iconos {
  background-color: rgba(172, 189, 172, 0.336);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  border-style: solid;
  border-color: #6133E4;
}

.Aptitudes .skills .iconos figure {
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.Aptitudes .skills .iconos figure img {
  width: 100%;
}

.Aptitudes .imgaptitudes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
  margin-top: 5px;
}

.Aptitudes .imgaptitudes img {
  width: 100%;
}

.Aptitudes figure:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.Proyectos {
  background-color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  color: #3F3D56;
}

.Proyectos h1 {
  font-weight: normal;
}

.Proyectos .proyectoscabecera {
  width: 85%;
  padding: 2%;
}

.Proyectos .proyectos {
  width: 85%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Proyectos .proyectos .pro {
  width: 30%;
}

.Proyectos .proyectos .pro img {
  width: 100%;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.Contacto {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contacto .imgcontato {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Contacto .imgcontato img {
  width: 100%;
}

.Contacto .contacto {
  color: #3F3D56;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contacto .contacto h1 {
  font-weight: normal;
}

@media only screen and (max-width: 800px) {
  .Nombre h1 {
    font-size: 20px;
  }
  .Presentacion .sobremi {
    width: 100%;
  }
  .Presentacion .sobremi h2 {
    text-align: center;
    color: white;
  }
  .Presentacion .sobremi p {
    text-align: center;
  }
  .Contacto {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Contacto .contacto {
    position: absolute;
    background-color: rgba(17, 34, 17, 0.377);
    width: 100%;
    color: white;
  }
  .Contacto .imgcontato {
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */